<!DOCTYPE HTML>
<html>
<head>
</head>
<body>
	<!-- Main -->
	<div class="container">
		<div id="preview">
			<div class="innr">
				<div class="row">
					<div class="image fit col-md-12">
						<%= image_tag @sport.attachments.last.file.url(:main).split('/').last  if @sport.attachments.present? %>
					</div>
				</div>
				<div class="row">
					<div class="content col-md-9">
						<header>
							<h2><%= @sport.name %><small> Stop dating, Start batting</small></h2>
						</header>
						<div class="row">
							<!-- Vcart information -->
							<div class="col-md-5">
								<div class="panel panel-default">
								  <!-- Default panel contents -->
								  <div class="panel-heading">Vcard Sport Information</div>

								  <!-- Table -->
								  <table class="table">
								      <tr>
								        <th>First Played</th>
								        <td>1920</td>
								      </tr>
								    <tbody>
								      <tr>
								        <th scope="row">Highest governing body</th>
								        <td>FIBA</td>
								      </tr>
								      <tr>
								        <th scope="row">Type</th>
								        <td>Indoor</td>
								      </tr>
								      <tr>
								        <th scope="row">Country or region</th>
								        <td>Worldwide</td>
								      </tr>
								      <tr>
								        <th scope="row">Players</th>
								        <td>11</td>
								      </tr>
								      <tr>
								        <th scope="row">Playing time</th>
								        <td>90 mins</td>
								      </tr>
								      <tr>
								        <th scope="row">Presence</th>
								        <td>Olympics</td>
								      </tr>
								    </tbody>
								  </table>
								</div>
							</div>
							<!-- Vcart information -->

							<!-- Basic Inforation about sport -->
							<div class="col-md-7">
								<p><%= @sport.basic_info %></p>
							</div>
							<!-- Basic Inforation about sport -->
						</div>

						<!-- History of sport -->
						<h1 class="custom-text-color" class="custom-text-color">History</h1>

						<p><%= @sport.history %></p>
						<!-- History of sport -->

						<!-- Rules & regulations of sport -->
						<h1 class="custom-text-color">Rules & regulations</h1>
						<ul class="">
							<% @sport.rules.each do |rule| %>
							   <li class=""><%= rule.description %></li>
							<% end %>
						</ul>
						<!-- Rules & regulations of sport -->

						<h1 class="custom-text-color">Popularity - List of <%= @sport.name %> Playing Countries</h1>
						More than <%= @sport.countries.size %> countries that play <%= @sport.name %>.
							<div class="well">
								<%= @sport.countries.map(&:name).join(', ') %>
							</div>

					</div>
					<div class="col-md-3 top-margin-50">
						<div class="list-group">
							<span class="list-group-item active">
								Sports by
							</span>
							<!-- <a href="#" class="list-group-item">Gallery</a> -->
							<%= link_to 'Gallery', root_path, class: "list-group-item" %>
							<a href="#" class="list-group-item">A to Z</a>
							<a href="#" class="list-group-item">By type</a>
							<a href="#" class="list-group-item">By continent</a>
							<a href="#" class="list-group-item">By country</a>
							<a href="#" class="list-group-item">All</a>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
					<h1 class="custom-text-color">Most popular players</h1>
						<div class="well">
							<div id="myCarousel" class="carousel slide">

								<!-- Carousel items -->
								<div class="carousel-inner">
									<div class="item active">
										<div class="row">
											<div class="col-sm-3">
												<!-- <a href="#x"><img src="http://placehold.it/500x500" alt="Image" class="img-responsive"></a> -->
												<%= link_to image_tag '500.png', class: 'img-responsive' %>
											</div>
											<div class="col-sm-3">
												<!-- <a href="#x"><img src="http://placehold.it/500x500" alt="Image" class="img-responsive"></a> -->
												<%= link_to image_tag '500.png', class: 'img-responsive' %>
											</div>
											<div class="col-sm-3">
												<!-- <a href="#x"><img src="http://placehold.it/500x500" alt="Image" class="img-responsive"></a> -->
												<%= link_to image_tag '500.png', class: 'img-responsive' %>
											</div>
											<div class="col-sm-3">
												<!-- <a href="#x"><img src="http://placehold.it/500x500" alt="Image" class="img-responsive"></a> -->
											</div>
										</div>
										<!--/row-->
									</div>
									<!--/item-->
									<div class="item">
										<div class="row">
											<div class="col-sm-3">
												<!-- <a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a> -->
												<%= link_to image_tag('250.png', class: 'img-responsive'), class: 'thumbnail' %>
											</div>
											<div class="col-sm-3">
												<!-- <a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a> -->
												<%= link_to image_tag('250.png', class: 'img-responsive'), class: 'thumbnail' %>
											</div>
											<div class="col-sm-3">
												<!-- <a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a> -->
												<%= link_to image_tag('250.png', class: 'img-responsive'), class: 'thumbnail' %>
											</div>
											<div class="col-sm-3">
												<!-- <a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a> -->
											</div>
										</div>
										<!--/row-->
									</div>
									<!--/item-->
									<div class="item">
										<div class="row">
											<div class="col-sm-3">
												<!-- <a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a> -->
												<%= link_to image_tag('250.png', class: 'img-responsive'), class: 'thumbnail' %>
											</div>
											<div class="col-sm-3">
												<!-- <a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a> -->
												<%= link_to image_tag('250.png', class: 'img-responsive'), class: 'thumbnail' %>
											</div>
											<div class="col-sm-3">
												<!-- <a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a> -->
											</div>
											<div class="col-sm-3">
												<!-- <a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a> -->
											</div>
										</div>
										<!--/row-->
									</div>
									<!--/item-->
								</div>
								<!--/carousel-inner--> <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>

								<a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
							</div>
							<!--/myCarousel-->
						</div>
						<!--/well-->
					</div>
				</div>
			</div>
			<% if @prev.present? %>
				<%= link_to sport_path(@prev), class: "nav previous" do %>
				    <span class="fa fa-chevron-left"></span>
				<% end %>
			<% end %>

			<% if @next.present? %>
				<%= link_to sport_path(@next), class: "nav next" do %>
				    <span class="fa fa-chevron-right"></span>
				<% end %>
			<% end %>
		</div>
	</div>
</body>
</html>
