<div class="list-group">
	<span class="list-group-item active">
		Sports by
	</span>
	<%= link_to 'Gallery', root_path, class: "list-group-item" %>
	<%= link_to 'A to Z', sports_path, class: "list-group-item" %>
	<a href="#" class="list-group-item">By type</a>
	<%= link_to 'By country', countries_path, class: "list-group-item" %>
	<!-- <a href="#" class="list-group-item">By continent</a> -->
	<%= link_to 'By continent', continents_path, class: "list-group-item" %>
	<!-- <a href="#" class="list-group-item">By country</a> -->
	<!-- <a href="#" class="list-group-item">All</a> -->
	<%= link_to 'All', root_path, class: "list-group-item" %>
</div>