<div class="container">
  <div class="row">
    <div class="col-md-12 top-margin-50">
    <h2 class="custom-text-color font-bold text-center"><%= @continent.name %>-(<%= @continent.countries.size %>)</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <%= render 'shared/sidebar' %>
    </div>

    <div class="col-md-10" id="sports">
      <%= render 'sports/sport', sports: @sports %>
    </div>

  </div>
  <p>
    <%= will_paginate @sports %>
  </p>
</div>
