<!DOCTYPE html>
<html>
  <head>
    <title>Allaboutsports</title>
   <%= csrf_meta_tags %>
   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
		<!-- Header -->
     <%= render 'shared/header' %>
    <!-- Header -->

    <!-- Main -->
      <%= render 'shared/main_containt' %>
    <!-- Main -->

    <!-- Footer -->
      <%= render 'shared/footer' %>
    <!-- Footer -->
    <%= yield %>
  </body>
</html>
